
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /*  background-color:#fbe4b0; */
    font-family: StartlingFont-60;
    
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    overflow-x: hidden;  
}
.port-tag{
text-decoration:underline;
}
#main {
    background-color: #522939;
    background-size: cover;
    background-position: center;
}
#nav {
    color: whitesmoke;
}
#full {
    height: 100vh;
    width: 100%;
    background-color: #f8e7ee;
    right: -100%;
    backdrop-filter: blur(15px);
    padding-top: 5rem;
}
#full h4 {
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    padding-top: 3rem;
}
#full i {
    top: 1rem;
    right: 1.5rem;
    background-color: #f9d8e5;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}

@media (min-width: 500px) {
    #full {
        width: 25%;
        right: -30%;
    }
}
.social_icons{
    display: flex;
    gap: 5px;
    padding-top: 50px;
    justify-content:center;
   text-align:center;
   
}
.icon{
   
   width: 30px;
   height: 30px;
   display: flex; 
  transition:background-color 0.3s ease;
  text-decoration: none;
  
}
.icon:hover{
    background-color: aqua;
}
.post_text{
    font-size: small;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
.namegreet{
    overflow: hidden;
    margin-top: 3rem;
    padding-left: 100px;
   
}
h1 span{
    display: inline-block;
}
h3 span{
    display: inline-block;
}
#im-tag{
    color: #522939;
    font-size: 25px;
    font-weight: 900;
}
h3,h1{
    color: #e96899;
}
#string{
    height:300px;
     /* width:100%;  */
  
}

.edu-section {
    position: relative;
    max-width: 400px;
    padding: 30px;  
    font-size: 15px;
  font-weight: lighter;
  transition: 1s box-shadow;
  margin: 0px 100px 100px 100px;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 75px;

}
.edu-section:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .edu-section::before, .edu-section::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .edu-section:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }
.edu-circle {
    color: #510621;
    width: 400px;
    height: 250px;
    border-radius: 8%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1px; 
       
}
.edu-circle p {
    font-size: 90%;
    margin-top:17px;
}
.edu-text {
    position: absolute;
    color: #522939;
    font-weight: bold;
    font-size: 45px;
}
.edu-text-left {
    left: 72%;
    transform: translateX(41%);
}





.skills-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .skills-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-size:45px;
    font-weight: 600;
    color: #ec4f89;
  }
  .skills-section p {
    color: #bbb;
  }
  .skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
  }
  .skill {
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.9rem;
    flex-direction: column;
    transition: transform 0.3s ease;
    text-align: center;
  }
  .skill:hover {
    transform: scale(1.1);
  }
  .skill.gold {
    background-color: #f0a500;
  }
  .skill i {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }



.row{
    padding-top: 30px;
}

.heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #510621;
}
.project-list {
    margin-top: 2rem;
    color: #f0a500;
}

.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.project-content {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #282828;
    border-radius: 8px;
}

.project-image {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 1rem;
    border: 2px solid #6f22ff;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 600;
    transition: .5s;
    position: relative; 
    display: block;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
}
.project-item:hover{
    color: #ffee10;
  text-shadow: 0 0 4px #ffee10;
}

.project-subtitle {
    color: #c2b8b8;
    font-size: 0.9rem;
}











.png{
    height: 150px;
   padding-left: 30%;   
}
.buttn {
    padding: 10px;
    font-size: 16px;
    color:#fff;
    background-color:#6b2c45;
    cursor: pointer;
    border:none;
    border-radius:4px;
    margin-left:3% ;
}

button:hover {
    background-color:#582037 ;
}

